[Unit]
Description=TrafficPulse processing timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true
Unit=trafficpulse-processing.service

[Install]
WantedBy=timers.target

